*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:cornflowerblue;
}
#card{
    border-radius: 6px;
    height: 450px;
    width:300px;
    background-color: white;
    padding: 30px;
    text-align: center;
}
#card img{
    height: 50%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 3px;
}
#card h2{
    font-size:30px;
    margin: 10px 0;
}
#card h5{
    font-size: 20px;
    margin: 20px;
    color: red;
}
#card button{
    text-align: center;
    background-color:darkcyan;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    padding :12px;
    border: none;
    margin: 5px;
    cursor: pointer;
    

}

#btn-container{
    margin-top:20px;
}